<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
  </head>
  <body>
    <h1>Create User</h1>
    <form action="/users" method="post">
     
      <div>
        <label for="email">Email</label>
        <input type="email" value="" name="email" id="email" />
      </div>
      <div>
        <label for="password">password</label>
        <input type="password value=" name="password" id="password" />
      </div>
      <div>
        <input type="submit" value="Submit Button" name="submit" />
      </div>
    </form>
  </body>
</html>
